@import "variables.scss";
@mixin border-radius($radius) {
	border-radius: $radius;
}


.divforo-img{
	width: $ancho;
	height: 200px;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: row;
	overflow:hidden;
		&:hover{
			filter: brightness(120%);
			transition: all 0.5s;
			
				}
}

.btn btn-primary {
	background-color: $boton;
	border: $bordes;
}

$colortipo: (
	gris: lightgray,
	azul: darkblue,
	grisO: darkgrey,
	negro: dark,
	blanco: white,
);

section ul {
	max-width: 600px;
	list-style: none;
 	margin: auto;
 	display: flex;
 	flex-direction: column;
 		li{
			height: 45px;
		    text-decoration: none;
		    		form{
		       		input {
						height: 35px;
						line-height: 35px;
						padding-left: 10px;
								label{

									select{
										height: 35px;
										line-height: 35px;
																				
											textarea{
														width:$ancho;
													  	height: 90px;
													  	font-family: $tipografia;
													  	color: map-get($colortipo, grisO);
													  	@include border-radius (0.25rem);
														resize: none;
														border: $bordes;
														padding:  10px 0 0 10px;
														margin-bottom: 20px;
														font-size: $medida;																	}	
												}

								}
				}

						}
  	


		}		
}

footer{
	font-family: $tipografia;
	display: flex;
	flex-direction: column;
	}

.legal{
		background-color: #CEDEEA;
		padding: 10px;
		display: flex;
		flex-direction: column;
		margin-top: 10px;
					}
.lega2 {
	@extend .legal;
	background-color: lightgreen;
	color: map-get($colortipo, negro);
	font-size: 14px;

						}


			

