@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;300;400;500;600;700;800;900&family=Open+Sans+Condensed:wght@300;700&display=swap');
*{
	padding: 0;
	margin: 0;
}

header {
	grid-area: header;
}
nav {
	grid-area: nav;
}
section {
	grid-area: section;

}
article {
	grid-area: article;
}
aside {
	grid-area: aside;
}
footer {
	grid-area: footer;
}

.main {
		max-width: 1080px;
		display: grid;
    grid-template-columns: auto;
   	grid-template-rows: auto auto auto auto auto auto;
    gap: 30px;
    grid-template-areas: "header" "nav" "section" "article" "aside" "footer";
    margin: auto;

    }  
 

  

/*.main > *{
        text-align: center;
        border: 2px solid black;
        color: orange;
    }*/
header, nav, section, article, aside, footer {
        grid-column: 1/6;
    }

/*header{
	height: 250px;
	}*/

h5 a {
	color: grey;
	float: left;
	text-decoration: none;
	font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #074E8E;
	text-decoration: none;
	font-weight: 100;
	font-size: 30px;

}
h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	color: grey;
	text-decoration: none;
	font-weight: 700;
	font-size: 20px;

}

#imagen {
	width:150px; 
	height: 150px;
	display: block;
	margin: 10px auto;
	
}



#contacto {	
	height: 40px;
	background-color:#eaeaea;
	line-height: 40px;


}

#contacto ul{	
	background-color:#eaeaea;
	line-height: 25px;
	}

#contacto img:hover {
		height: 30px;
		width: 30px;

}

#informacion {
	display: flex;
	flex-direction: column;
}

#informacion ul li{
	list-style-type: none;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;

}


nav {	
	height: 40px;
	background-image: linear-gradient(lightgrey, darkgray);
	

	

}

nav .menu{
	display: none;
}

nav a {
	font-family: 'Open Sans Condensed', sans-serif;
	text-decoration: none;
	color: #002849;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	

}
nav a:hover {
	font-family: 'Open Sans Condensed', sans-serif;
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 21px;
	
}

nav ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
 
	
	
}
nav li {
	/*width: 260px;
	border-right: 1px solid #3E5A72;	*/
	line-height: 40px;
	justify-content: center;
}



article{
	display: flex;
	flex-direction: row;
	font-weight: normal;
}

.descripcion{
	width: 100%;
	display: flex;
	margin-top: 30px;
	font-weight: normal;
}

.contenedor-icono{
	flex: 1 2 120px;
	font-size: 20px;
	margin: 0 50px 0 50px;
}

aside{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
}
.foro{
	background-color: #EFEFEF;
	margin-top: 30px;
	padding-bottom: 20px;
	margin: auto;


}

p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px ;
	color: grey;

}

.iconos{
	width: 150px;
	height: 150px;	
	border-bottom: solid 5px #E5E5E5;
	text-align: center;
}


.iconos2{
	height: 150px;
	width: 150px;
	float: left;
	margin: 10px 0 0 60px;
}

.texto-noticias{
	width: 80%;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}


header li {
	display: inline-block;
	width: 50px;
	height: 25px;
	border-color: #E2EBED;
	font-family: 'Open Sans Condensed', sans-serif;
	float: right;
	
}

.renglon{
	
	display: flex;
	
}



footer{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	
	}

footer .legal{
	background-color: #CEDEEA;
	padding: 10px;
	display: flex;
	flex-direction: column;
	margin-top: 10px;
}

.mapa{
	overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;

}

.mapa iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;

}


.box1 {
	width: 100%;
	display: flex;
	justify-content: center;
	}

.box1-mobile{
	display: none;

}


.boxpenal1 {
	width: 100%;
	height: 200px;
	display: flex;
	background-image: url(../img/asesoria-penal1080.jpg);
	background-size: inherit;
	background-attachment: fixed;
	background-repeat: no-repeat;


	}

.boxpenal1-mobile{
	display: none;

}



section ul {
	max-width: 600px;
	text-decoration: none;
 	list-style: none;
 	margin: auto;
 	display: flex;
 	flex-direction: column;
  	


}

section li{
		width: 100%;
    height: 45px;
    line-height: 45px;
    text-decoration: none;
    font-size: 12px;
    color: #999999;

	

}

section input {
	width: 100%;
	height: 35px;
	border: solid #ababab 1px;
	line-height: 35px;
	padding-left: 10px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: grey;
	border-radius: 3px;

}

form{
	display: flex;
	flex-direction: column;
}

.divboton{
	width: 100px;
  	height: 35px;
  	display: inline-block;
}

.botones {
  width: 100px;
  height: 35px;
  

}

.botones:hover {
	-webkit-animation: 1s dobleclick 1;
}

@-webkit-keyframes dobleclick {
  40% {
    -webkit-transform: scale(1.1);
  }
  20%, 60% {
    -webkit-transform: scale(0.8);
  }
}


section textarea{
	 width: 100%;
  	height: 90px;
  	font-family: 'Open Sans Condensed', sans-serif;
	color: grey;
	border-radius: 3px;
	resize: none;
	border: 1px solid #ababab;
	padding:  10px 0 0 10px;
	margin-bottom: 20px;


}


section select{
	width: 102%;
	height: 35px;
	border: solid #ababab 1px;
	line-height: 35px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: grey;
	border-radius: 3px;
	
}
.check{
	width: 25px;
	height: 25px;
	background-color: #ababab;
	color: grey;
	border: solid #ababab 1px;
	margin-top: 10px;
}

.check :focus{
	background-color: #ababab;
	outline: none;
}



.spantext{
	width: 100px;
	height: 35px;
	margin-left: 20px;
	margin-bottom: 70px;
	font-size: 15px;
	line-height: 35px;
	font-family: 'Open Sans Condensed', sans-serif; ;

}
.topnav{
	display: none;
}

.iconos-pages {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin: -280px 50px 50px 50px;
	justify-content: space-between;
	
}


.input-penal{
	flex-direction: column;

}

.buscar-penal{
	width: 100%;
	height: 40px;
	margin: 20px auto;
	border: solid #ababab 1px;
	line-height: 35px;
	padding-left: 10px;
	font-family: 'Open Sans Condensed', sans-serif;
	color: grey;
	border-radius: 3px;
}


@media all and (max-width: 400px){
	.main {
		width: 400px;
		
		
	}
	


.box1 {
	display: none;
}

.box1-mobile{
	display: block;
	width: 400px;
	
	
}

.boxpenal1 {
	display: none;


	}

.boxpenal1-mobile{
	height: 200px;
	display: block;
	width: 400px;
	background-image: url(../img/asesoria-penal400.jpg);
	background-size: contain;
	background-attachment: fixed;
	



}





/*nav ul{
	flex-direction: column;
	
}*/

nav li {
	display: none;

}
nav .menu{
	display: block;
	width: 20px;
	height: 20px;
	margin: 10px 0 0 10px;
	position: relative;

}




article{
	flex-direction: column;
	padding-left: 10px;
	padding-right: 10px;


}
.contenedor-icono{
	align-self: center;
	font-size: 20px;
	flex-direction: column;
	margin-top: 30px;
	
}



.renglon{
	width:340px;
	margin-left: 10px;	
	flex-direction: column;
	padding: 10px 10px;
	
}


.legal{
		margin-top:10px;
	}


section ul {
	max-width:400px;
}
section li {
	width:350px;
}
section input select {
	height:40px;
	margin: 30px auto 30px;
	
}
section select{
	width:362px;
}

.texto-noticias{
	width: 100%;
	
}
/* Style the navigation menu */
.topnav {
  /*overflow: hidden;*/
  background-color: #D6D6D6;
  position: relative;
  display: block;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;

}

/* Style the hamburger menu */
.topnav a.icon {
  background: #eaeaea;
  display: block;
  position: absolute;
  right: 355px;
  top: 0;

}
nav a{
	text-align: left;
}


/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color:#eaeaea;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #eaeaea;
  color: #eaeaea;
  text-align: left;
}

.iconos-pages {
	flex-direction: column;
	margin-top: -235px;
		
}

aside {
	padding-left: 10px;
	padding-right: 10px;
}





	
	/*para no mostrar algo
	display: none;
	*/
}

